  :root{
  --mainBlue: #202072;
  --lightBlue:#009ffd;
  --mainWhite:#fff;
  --mainDark:#232528;
  --mainYellow:#ffa400;
  --myWhite:#F6E6DA;
  --mainOrange:#FF8533;
  --mainRed:#EF1C22;
}
body{
  font-family: 'Baloo 2', cursive !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.height-80{
  min-height: 77vh;
}
.height-40{
  min-height: 74vh;
}
.images{
  height:145px;
  width:20px;
}
.blueText{
  color:var(--mainBlue);
}
.my-title{
  color:var(--mainRed)
}
.GreenText{
  color : #32CD32;
}
.text-title{
  font-family: 'Baloo 2', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}
.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color:var(--mainDark);
  border-radius: 0 !important;
  border:0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: var(--mainDark) !important;
  color:var(--mainWhite)!important;
}
.cart-icon{
  cursor:pointer;
  font-size: 1.2rem;
  color:var(--mainYellow);
}
.blueBorder{
  border: blue solid 0.1rem;
}
.rem{
  font-size: 1.4rem;
}
